@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;700&display=swap');

body {
    font-family: 'Cormorant Garamond', serif;
}

/*------------------------------------------------NavBar--------------------*/
nav {
    background-color: #889b58;
}

nav img {
    display: block;
}

nav h1 {
    display: block;
    color: #f5f7e1;
    font-weight: 400;
    font-size: 25px;
    /*----Only for < 700 px screens, see media query below*/
    text-transform: uppercase;
}

nav li {
    font-size: 25px;
    margin-right: 10px;
    color: #f5f7e1;
}


@media (min-width: 700px) {
    nav img {
        display: inline;
        width: 150px;
        height: 125px;
    }

    nav h1 {
        display: inline;
        color: #f5f7e1;
        font-weight: 400;
        font-size: 50px;
        margin-top: 50px;
        text-transform: uppercase;
    }
}

/*----------------------------------------------------Hero Image Home page---------------*/

#hero-image-home {
    background-image: url="https://github.com/annemarie293/sarahs-bakery/blob/1f63f04e668dfe13d8cd5b874a6639b9f09ceaae/assets/images/hero-image-home.jpg"alt="image of home baked cake";
    /*photo credit: https://www.pexels.com/photo/baked-cake-with-candies-on-top-709841/?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels*/
    background-size: cover;
    height: 1vh;
    background-position: center;
    background-repeat: no-repeat;

}

/*----------------------------------------------------Footer---------------*/

footer {
    background-color: #889b58;

    bottom: 0;
}

footer img {
    display: inline;
}

footer h4 {
    display: inline;
    color: #f5f7e1;
}



.social-links li a i {
    color: #f5f7e1;
    height: 35px;
    width: 35px;
    text-align: center;
    font-size: 25px;
}


.social-links li a i:hover {
    color: #e7b734
}

@media (max-width: 700px) {

    footer img {
        height: 25px;
        width: 25px;
    }

    footer h4 {
        font-size: 17px;
    }

    .social-links li a i {
        height: 28px;
        width: 28px;
        text-align: center;
        font-size: 18px;
    }
}